body{
    background-color: cornflowerblue;

}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.title{ 
    display: flex;   
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}
.subtitle{
    font-size: 1.5rem;
}
img{
    width: 120px;
}
#current_date{
    font-size: 18px;
    margin-bottom: 15px;
    max-width: 80%;
}
.avisos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
input{  
    border-radius: 5px;
    margin: 2px;
    width: 150px;
    height:18px;  
    background-color: rgb(228, 220, 220);  
}
.button{
    width: 158px;
    height: 25px;
    background-color: rgb(196, 188, 188);
}

hr{
    width: 80%;
}

.box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxTitle{
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 176, 190);
    width: 400px;
    height: 30px;   
}
#dolar, #euro, #bitcoin{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(167, 211, 211);
    width: 400px;
    height: 30px;   
}
#dolarDown, #euroDown, #bitcoinDown{
    font-size: 5vw;
    color: red;
    font-family: serif;
    animation: animate 1.5s linear infinite;
 } 
  
 @keyframes animate{
   0%{
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
   }
 }

 footer{
     margin-top: 8px;
 }